*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --ss:1%;
    --st:1em;
    --sm:10vw;
    --sb:2em;
    --bg:#baca43;
    --sixty:#444a3f;
    --thirty:#8a7541;
    --ten:#6fffff;
}
body{
    background-color: var(--bg);
}
#target{
   margin: var(--ss);
   padding: var(--ss);
}

.taskItem{
    margin: var(--ss);
    padding: var(--sb);
    border-radius: 92px;
    background: linear-gradient(145deg, #c7d848, #a7b63c);
    box-shadow:  30px 30px 60px #848f30,
                 -30px -30px 60px #f0ff56;
}