*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --ss:1%;
    --sm:10vw;
    --bg:#baca43;
    --sixty:#444a3f;
    --thirty:#8a7541;
    --ten:#b6dfdf;
}
body{
    background-color: var(--bg);
}